@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

*{
    font-family: "Manrope", sans-serif;
}

/* Home page animation */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

/* Skills */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.skill-card:hover img {
  animation: float 1.5s ease-in-out infinite;
}

/*  */
.typed-cursor {
  color: white;
  font-size: inherit;
  font-weight: 400;
}